/* You can add global styles to this file, and also import other style files */
.search{
	margin-bottom: 10px;
}


.plainLink{
	color:  white;
	text-decoration: none;
}

.plainLink:hover{
	color:  white;
	text-decoration: none;
}

.container-form{
	width: 50%;
	margin:  0 auto;
}

